*.jpg
/clase2php3/nbproject/private/
/clase2php3/clase2_jorge
/desafios/desafio2/practica-clase-2-nivel-3
/.vs
/desafios/desafio2/nbproject/private/
/desafios/desafio2/2921_2_1_18332410
/desafios/desafio3/nbproject/private/
/desafios/Nueva Carpeta/nbproject/private/