//variables colores

$color-header: #4527A0;
$color-letras: white;
$color-articulo1: #ff5252;
$color-articulo2: #64B5F6;
$color-articulo3: #512DA8;
$color-articulo4: #FFCC80;

//variables medidas
$altura-nombres: 40px;

